# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.log

# Virtual env
venv/
.env/
.env.*
.env
.venv
ENV/
env.bak/
venv.bak/
.python-version

# Poetry
poetry.lock

# Alembic
src/migrations/__pycache__/
src/migrations/versions/*.pyc

# Database (Postgres)
postgres_data/

# Docker
*.pid
*.sock

# VSCode & IDEs
.vscode/
.idea/

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db

# Logs and temp
*.log
*.tmp

# Coverage, test
htmlcov/
.tox/
.coverage
pytest_cache/

# Build
dist/
build/

# MyPy, Ruff, Pylint
.mypy_cache/
ruff_cache/

# Cache general
.cache/

# Pytest
.cache/
.pytest_cache/
